#main {
    background: url(images/BGexpert.jpg);
    background-size: 100%;
}

.expert-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.label_ep {
    position: absolute;
    top: 0;
    left: 80px;
    width: 300px;
    height: 100px;
    background: url(images/3.png);
    background-size: 100%;
}

.circle {
    background-image: url(images/2.png);
    height: 510px;
    background-size: 100%;
    position: absolute;
    top: 160px;
    left: 203px;
    width: 520px;
}

.close-cat {
    background-image: url(images/back.png);
    width: 120px;
    height: 120px;
    position: absolute;
    left: 580px;
    top: -10px;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}


/**** guru block *****/
.guru-chose-block {
    width: 305px;
    height: 298px;
    background: rgba(255, 221, 131, 1);
    border-radius: 1000px;
    position: absolute;
    top: 105px;
    left: 109px;
    z-index: 2;
}

.guru-chose-block .name {
    text-align: center;
    margin-top: 167px;
    line-height: 30px;
    font-size: 20px;
}

.guru-chose-block .cat_name {
    text-align: center;
    font-size: 16px;
}

.guru-chose-block .leaf {
    background-image: url(images/sub-icon/leaf.png);
    width: 102px;
    height: 26px;
    display: inline-block;
    background-size: 100%;
    margin-top: 14px;
}

.history-btn {
    background-image: url(images/sub-icon/history.png);
    height: 40px;
    width: 40px;
    background-size: 100%;

    position: absolute;
    left: 44px;
    top: 70px;
}

.blog-btn {
    background-image: url(images/sub-icon/blog.png);
    height: 40px;
    width: 40px;
    background-size: 100%;

    position: absolute;
    left: 90px;
    top: 20px;
}

.phone-btn {
    background-image: url(images/sub-icon/phone.png);
    height: 40px;
    width: 40px;
    background-size: 100%;

    position: absolute;
    left: 167px;
    top: 20px;
}

.content-btn {
    background-image: url(images/sub-icon/content.png);
    height: 40px;
    width: 40px;
    background-size: 100%;

    position: absolute;
    left: 216px;
    top: 70px;
}

.display-picture {
    border: 6px solid #ffe1a1;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: white;
    background-image: url(images/profile-default.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 103px;
    top: 60px;
}

/** end guru chose block **/



.lever {
    background-image: url(images/lever.png);
    width: 200px;
    height: 111px;
    background-size: 100%;
    background-repeat: no-repeat;

    position: absolute;
    left: 511px;
    top: 170px;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);

    cursor: pointer;
}

.lever.down {
    top: 249px;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

.circle .circle-grow {
    background: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 100%;
    border-radius: 520px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cat-icon {
    position: absolute;
    background-size: 100%;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    border-radius: 56px;
    cursor: pointer;
}

.cat-icon.selected {
    z-index: 2;
}

.cat-icon .yellow-line {
    border-bottom: 1px solid #ffe1a1;
    position: absolute;
}

.cat-icon .name {
    border: 1px solid #ffe1a1;
    color: #ffe1a1;
    position: absolute;
    font-size: 20px;
    white-space: nowrap;
    padding: 7px 15px;
    background: rgba(255, 225, 161, 0.09);
}

.cat-icon .selected-grow {
    background: rgba(187, 107, 6, 0.45);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 56px;
    display: none;
}

.cat-2 {
    left: 146px;
    top: 50px;
    /*background-image: url(images/icon/01.png);*/
}

.cat-2 .yellow-line {
    width: 83px;
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
    top: -15px;
    left: -67px;
}

.cat-2 .name {
    bottom: 98px;
    left: -57px;
    text-align: right;
}

.cat-1 {
    left: 264px;
    top: 29px;
    /*background-image: url(images/icon/02.png);*/
}

.cat-1 .yellow-line {
    width: 118px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -57px;
    left: -31px;
}

.cat-1 .name {
    bottom: 172px;
    left: 27px;
    text-align: left;
    box-sizing: border-box;
}

.cat-11 {
    left: 364px;
    top: 75px;
    /*background-image: url(images/icon/03.png);*/
}

.cat-11 .yellow-line {
    width: 145px;
    -webkit-transform: rotate(128deg);
    transform: rotate(128deg);
    top: -53px;
    left: 13px;
}

.cat-11 .name {
    bottom: 166px;
    left: 130px;
    text-align: left;
}

.cat-10 {
    left: 423px;
    top: 158px;
    /*background-image: url(images/icon/04.png);*/
}

.cat-10 .yellow-line {
    width: 117px;
    -webkit-transform: rotate(148deg);
    transform: rotate(148deg);
    top: -23px;
    left: 38px;
}

.cat-10 .name {
    bottom: 110px;
    left: 115px;
    text-align: left;
}

.cat-9 {
    left: 429px;
    top: 268px;
    /*background-image: url(images/icon/05.png);*/
}

.cat-9 .yellow-line {
    width: 130px;
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    top: 80px;
    left: 37px;
}

.cat-9 .name {
    top: 104px;
    left: 154px;
    text-align: left;
}

.cat-8 {
    left: 372px;
    top: 374px;
    /*background-image: url(images/icon/06.png);*/
}

.cat-8 .yellow-line {
    width: 130px;
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    top: 80px;
    left: 37px;
}

.cat-8 .name {
    top: 104px;
    left: 154px;
    text-align: left;
}

.cat-7 {
    left: 246px;
    top: 420px;
    /*background-image: url(images/icon/07.png);*/
}

.cat-7 .yellow-line {
    width: 92px;
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    top: 72px;
    left: 39px;
}

.cat-7 .name {
    top: 99px;
    left: 122px;
    text-align: right;
}

.cat-6 {
    left: 138px;
    top: 397px;
    /*background-image: url(images/icon/08.png);*/
}

.cat-6 .yellow-line {
    width: 96px;
    -webkit-transform: rotate(143deg);
    transform: rotate(143deg);
    top: 75px;
    left: -77px;
}

.cat-6 .name {
    top: 104px;
    left: -68px;
    text-align: right;
}

.cat-5 {
    left: 57px;
    top: 316px;
    /*background-image: url(images/icon/09.png);*/
}

.cat-5 .yellow-line {
    width: 65px;
    -webkit-transform: rotate(143deg);
    transform: rotate(143deg);
    top: 59px;
    left: -56px;
}

.cat-5 .name {
    top: 64px;
    right: 105px;
    text-align: right;
}

.cat-4 {
    left: 34px;
    top: 215px;
    /*background-image: url(images/icon/10.png);*/
}

.cat-4 .yellow-line {
    width: 51px;
    -webkit-transform: rotate(199deg);
    transform: rotate(199deg);
    top: 7px;
    left: -47px;
}

.cat-4 .name {
    bottom: 42px;
    right: 101px;
    text-align: right;
}

.cat-3 {
    left: 70px;
    top: 111px;
    /*background-image: url(images/icon/11.png);*/
}

.cat-3 .yellow-line {
    width: 83px;
    -webkit-transform: rotate(206deg);
    transform: rotate(206deg);
    top: -8px;
    left: -72px;
}

.cat-3 .name {
    bottom: 66px;
    right: 124px;
    text-align: right;
}



.guru {
    border: 6px solid #ffe1a1;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: white;
    background-image: url(images/profile-default.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}

.guru-1 {
    left: -40px;
    top: -20px;
}

.guru-2 {
    left: -122px;
    top: 120px;
}

.guru-3 {
    left: -122px;
    top: 270px;
}

.guru-4 {
    left: -60px;
    top: 410px;
}

.guru-5 {
    right: -40px;
    top: -20px;
}

.guru-6 {
    right: -122px;
    top: 120px;
}

.guru-7 {
    right: -122px;
    top: 270px;
}

.guru-8 {
    right: -60px;
    top: 410px;
}

/*lightbox*/

#overlay {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: black;
    opacity: 0;
}

#overlay.overlay-active{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8;
}

.lightbox{
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, .4);
    position: absolute;
    width: 500px;
    top: 0;
    left: 50%;
    margin-top: 10%;
    margin-left: -250px;
    z-index: 3;
    opacity: 0;
    display: none;
    padding: 16px;
    box-sizing: border-box;
    padding-right: 0;
}

.lightbox.lightbox-active{
    display: inline-block;
    opacity: 1;
}

.lightbox .wrap {
    min-height: 200px;
    max-height: 500px;
    padding-right: 16px;
    overflow: auto;
}


.lightbox .close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    top: -5px;
    right: -5px;
    cursor: pointer;
}

.close-popup-btn {
    width: 28px;
    height: 28px;
    background-color: red;
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    background: url(images/close-btn.png);
}

.history-btn, .blog-btn, .phone-btn, .content-btn {
    cursor: pointer;
}

.lightbox h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.lightbox p {
    text-indent: 32px;
}
