#main {
    background: url(images/BGexpert.jpg);
    background-size: 100%;
}

.expert-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.label_ep {
    position: absolute;
    top: 0;
    left: 80px;
    width: 300px;
    height: 100px;
    background: url(images/3.png);
    background-size: 100%;
}

.circle {
    background-image: url(images/2.png);
    height: 510px;
    background-size: 100%;
    position: absolute;
    top: 160px;
    left: 203px;
    width: 520px;
}

.lever {

}

.circle .circle-grow {
    background: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 100%;
    border-radius: 520px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cat-icon {
    position: absolute;
    background-size: 100%;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    border-radius: 56px;
    cursor: pointer;
}

.cat-icon.selected {
    z-index: 2;
}

.cat-1 {
    left: 146px;
    top: 50px;
    background-image: url(images/icon/01.png);
}

.cat-icon .yellow-line {
    border-bottom: 1px solid #ffe1a1;
    position: absolute;
}

.cat-icon .name {
    border: 1px solid #ffe1a1;
    color: #ffe1a1;
    position: absolute;
    font-size: 16px;
    white-space: nowrap;
    padding: 7px 15px;
    background: rgba(255, 225, 161, 0.09);
}

.cat-icon .selected-grow {
    background: rgba(187, 107, 6, 0.45);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 56px;
    display: none;
}

.cat-1 .yellow-line {
    width: 83px;
    transform: rotate(42deg);
    top: -15px;
    left: -67px;
}

.cat-1 .name {
    bottom: 98px;
    right: 46px;
    text-align: right;
}

.cat-2 {
    left: 264px;
    top: 29px;
    background-image: url(images/icon/02.png);
}

.cat-2 .yellow-line {
    width: 118px;
    transform: rotate(90deg);
    top: -57px;
    left: -31px;
}

.cat-2 .name {
    bottom: 173px;
    left: -60px;
    text-align: left;
}

.cat-3 {
    left: 364px;
    top: 75px;
    background-image: url(images/icon/03.png);
}

.cat-3 .yellow-line {
    width: 145px;
    transform: rotate(128deg);
    top: -53px;
    left: 13px;
}

.cat-3 .name {
    bottom: 166px;
    left: 46px;
    text-align: left;
}

.cat-4 {
    left: 423px;
    top: 158px;
    background-image: url(images/icon/04.png);
}

.cat-4 .yellow-line {
    width: 117px;
    transform: rotate(148deg);
    top: -23px;
    left: 38px;
}

.cat-4 .name {
    bottom: 110px;
    left: 100px;
    text-align: left;
}

.cat-5 {
    left: 429px;
    top: 268px;
    background-image: url(images/icon/05.png);
}

.cat-5 .yellow-line {
    width: 130px;
    transform: rotate(36deg);
    top: 80px;
    left: 37px;
}

.cat-5 .name {
    top: 104px;
    left: 154px;
    text-align: left;
}

.cat-6 {
    left: 372px;
    top: 374px;
    background-image: url(images/icon/06.png);
}

.cat-6 .yellow-line {
    width: 130px;
    transform: rotate(36deg);
    top: 80px;
    left: 37px;
}

.cat-6 .name {
    top: 119px;
    left: 100px;
    text-align: left;
}

.cat-7 {
    left: 246px;
    top: 420px;
    background-image: url(images/icon/07.png);
}

.cat-7 .yellow-line {
    width: 92px;
    transform: rotate(36deg);
    top: 72px;
    left: 39px;
}

.cat-7 .name {
    top: 99px;
    right: -135px;
    text-align: right;
}

.cat-8 {
    left: 138px;
    top: 397px;
    background-image: url(images/icon/08.png);
}

.cat-8 .yellow-line {
    width: 96px;
    transform: rotate(143deg);
    top: 75px;
    left: -77px;
}

.cat-8 .name {
    top: 104px;
    right: 46px;
    text-align: right;
}

.cat-9 {
    left: 57px;
    top: 316px;
    background-image: url(images/icon/09.png);
}

.cat-9 .yellow-line {
    width: 65px;
    transform: rotate(143deg);
    top: 59px;
    left: -56px;
}

.cat-9 .name {
    top: 64px;
    right: 105px;
    text-align: right;
}

.cat-10 {
    left: 34px;
    top: 215px;
    background-image: url(images/icon/10.png);
}

.cat-10 .yellow-line {
    width: 51px;
    transform: rotate(199deg);
    top: 7px;
    left: -47px;
}

.cat-10 .name {
    bottom: 42px;
    right: 101px;
    text-align: right;
}

.cat-11 {
    left: 70px;
    top: 111px;
    background-image: url(images/icon/11.png);
}

.cat-11 .yellow-line {
    width: 83px;
    transform: rotate(206deg);
    top: -8px;
    left: -72px;
}

.cat-11 .name {
    bottom: 66px;
    right: 124px;
    text-align: right;
}