#main {
    background: url(images/bg-profile.jpg);
    background-size: 100%;
}

/** topbar **/
.tab{
    position: absolute;
    width: 950px;
    height: 60px;
    background: url(images/dest2.png);
    background-size: 100%;
}

.logo{
    margin-top: 5px;
    margin-left: 30px;
    width: 40px;
    height: 50px;
    background: url(images/logo.png);
    background-size: 100%;
    display: block;
}

.search{
    position: absolute;
    top: 13px;
    left: 100px;
    width: 400px;
    height: 35px;
    background: #ffffff;
    border-radius: 7px;
    color: #9D9D9D;
    font-size: 21px;
    line-height: 2;
}

.status{
    position: absolute;
    top: 10px;
    right: 14px;
    width: 366px;
    height: 40px;
}

.profile-image {
    vertical-align: middle;
}

.tus{
    font-size: 22px;
    color: #ffffff;
    text-align: right;
}
.icon{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 46px;
}

.icon-setting{
    position: absolute;
    top: 5px;
    left: 0;
    width: 38px;
    height: 38px;
    background: url(images/gear.png);
    background-size: 100%;
    cursor: pointer;
}
/** end topbar **/


.data{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 850px;
    height: 640px;
    background-color: #fff;
    border-radius: 25px;
    color: #141823;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75) inset;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

.data a {
    color: white;
}

.post {
    margin: 20px 0 10px 0;
    padding: 20px 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.comment-add-block{
    margin-top: 10px;
}

.comment-form form .comment-add-block {
    background-color: transparent;
}

.post .user-des {
    height: 50px;
}

.post .user-img {
    float: left;
    width: 40px;
    height: 40px;
}

.post .user-name a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
}

.post .post-time small {
    margin-left: 8px;
    font-size: 11px;
    line-height: 25px;
}

.video-player {
    /*margin: 0 auto;*/
}

.post-image-list {
    margin-top: 10px;
    /*padding: 0 25px;*/
}

.post-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 5px 5px 0 0;
}

.post .description {
    margin-top: 10px;
    color: rgb(87, 29, 29);
}

.description  .ng-binding{
    font-size: 14px;
    word-spacing: 3px;
}

.video-wrap {
    margin: 10px auto 0 auto;
    text-align: center;
    width: 540px;
}

.wood-bg-btn {
    border-radius: 6px;
    background: darkred;;
    background-position: center;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    outline: none;
    border: none;
}

a.add-comment, a.like-btn, a.unlike-btn {
    color: rgb(47, 54, 108);
    text-decoratipon: none;
    font-size: 16x;
    margin-right: 5px;
}

/** comment extend **/
.comment {
    margin-left: 50px;
    margin-bottom: 20px;
}

.comment-add-block {
    margin-left: 0;
    border: none;
}

.delete-post{
    position: absolute;
    right: 35px;
    display: inline;
}
.delete-post a{
    color:#000;
    text-decoration: none;
}

.delete-post a img{
    vertical-align: middle;
    margin-right: 5px;
}
.delete-post a:hover{
    color: rgb(47, 54, 108);
}


.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /*background-color: #fff;*/
    /*background-color: rgba(255,255,255,.75);*/
    /*filter: "alpha(opacity=75)";*/
    /*-ms-filter: "alpha(opacity=75)";*/

    line-height: 30px;
    background-image: url(images/wg-1048-sq.jpg);
    width: 6px;
}

.mCustomScrollBox {
    -webkit-filter: blur(0px);
}

.content textarea {
    background: #fff;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}
.content textarea:hover,
.wood-bg-btn:hover{
    opacity: 0.8;
}
.ng-binding{
    font-size: 18px;
}
.buttonleft {
	font-size:20px;
	border-bottom:1px solid whitesmoke;
	padding-bottom: 10px;
}
.buttonleft a {
  color: #333333;
  text-decoration: none;
}
.buttonleft img{
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
