#main {
    background: url(images/bg-profile.jpg);
    background-size: 100%;
}
.tab{
    position: absolute;
    width: 950px;
    height: 60px;
    background: url(images/dest2.png);
    background-size: 100%;
}
.logo{
    margin-top: 5px;
    margin-left: 30px;
    width: 40px;
    height: 50px;
    background: url(images/logo.png);
    background-size: 100%;
    display: block;
}
.search{
    position: absolute;
    top: 13px;
    left: 100px;
    width: 400px;
    height: 35px;
    background: #ffffff;
    border-radius: 7px;
    color: #9D9D9D;
    font-size: 21px;
    line-height: 2;
}
.status{
    position: absolute;
    top: 10px;
    right: 80px;
    width: 230px;
    height: 40px;
}
.profile-image {
    vertical-align: middle;
}

.tus{
    font-size: 22px;
    color: #ffffff;
    text-align: right;
}
.icon{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 46px;
}

.icon-setting{
    position: absolute;
    top: 5px;
    left: 0;
    width: 38px;
    height: 38px;
    background: url(images/gear.png);
    background-size: 100%;
    cursor: pointer;
}
.data{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 850px;
    height: 640px;
    background-color: #fff;
    border-radius: 25px;
    color: #141823;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75) inset;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

.data a {
    color: white;
}

.post {
    margin: 20px 0 0 0;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.post .user-des {
    background-color: gainsboro;
    padding: 12px 12px 0 12px;
    border-radius: 0 12px 12px 0;
    color: #000;
    height: 50px;
}

.post .content {
    margin-top: 10px;
}

.post .user-img {
    float: left;
    width: 40px;
    height: 40px;
}

.post .user-name a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
}

.post .post-time small {
    margin-left: 8px;
    font-size: 11px;
    line-height: 25px;
}

.video-player {
    /*margin: 0 auto;*/
}

.post-image-list {
    margin-top: 10px;
    /*padding: 0 25px;*/
}

.post-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 5px 5px 0 0;
}

.post .description {
    margin-top: 10px;
    color: rgb(87, 29, 29);
}

.description  .ng-binding{
    font-size: 13px;
    word-spacing: 3px;
}

.video-wrap {
    margin: 10px auto 0 auto;
    text-align: center;
    width: 540px;
}

.wood-bg-btn {
    border-radius: 6px;
    background: darkred;;
    background-position: center;
    display: inline-block;
    padding: 10px 15px;
    /*box-shadow: 1px 1px 1px 0 rgba(92, 68, 36, 0.8) inset;*/
    cursor: pointer;
    color: white;

    outline: none;
    border: none;
}

a.add-comment, a.like-btn, a.unlike-btn {
    color: rgb(47, 54, 108);
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
}

.form-post-section {
    margin-top: 10px;
}

.form-post-text {

}

.post-textarea {
    background: rgba(115, 47, 11, 0.39);
    width: 100%;
    height: 80px;
    resize: none;
}

.form-image-thumb {
    float: left;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
}

a.paging {
    border: 1px solid #c16e26;
    width: 18px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
    background-color: white;
    color: rgb(89, 89, 89);
}

a.paging.active {
    background-color: #c16e26;
    border-color: none;
    color: white;
    border-radius:5px; 
}
a.paging.active:hover{
    opacity: 0.8;
}

.paging-list {
    margin-top: 20px;
}


.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /*background-color: #fff;*/
    /*background-color: rgba(255,255,255,.75);*/
    /*filter: "alpha(opacity=75)";*/
    /*-ms-filter: "alpha(opacity=75)";*/

    line-height: 30px;
    background-image: url(images/wg-1048-sq.jpg);
    width: 6px;
}

.mCustomScrollBox {
    -webkit-filter: blur(0px);
}

.ng-binding{
    font-size: 18px;
}

.delete-post{
    position: absolute;
    right: 35px;
    display: inline;
}
.delete-post a{
    color:#000;
    text-decoration: none;
}

.delete-post a img{
    vertical-align: middle;
    margin-right: 5px;
}
.delete-post a:hover{
    color: rgb(47, 54, 108);
}

.expertBack{
    position: absolute;
    top: 625px;
    right:20px;
    width: 80px;
    height: 78px;
    background:url(images/back.png) no-repeat;
    background-size: 100%;
}
