#main {
    background: url(images/bggroup.jpg);
    background-size: 100%;
}

.select {
    position: absolute;
    top: 0;
    width: 1250px;
    height: 630px;
}

.line {
    position: absolute;
    top: 25px;
    left: 0;
    width: 1280px;
    height: 44px;
    background: url(images/line.jpg);
    background-size: 100%;
}

.Textline {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #FEE5B1;
}

.buttonleft {
    position: absolute;
    top: 117px;
    left: 25px;
    width: 45px;
    height: 45px;
    background: url(images/BTleft.png);
    background-size: 100%;
}

.buttonright {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 45px;
    height: 45px;
    background: url(images/BTright.png);
    background-size: 100%;
}

.categoryBack {
    position: absolute;
    top: 625px;
    left: 15px;
    width: 80px;
    height: 78px;
    background: url(images/icongrp.png);
    background-size: 100%;
}

.groups {
    position: absolute;
    top: 180px;
    left: 0;
    width: 245px;
    height: 390px;
}

.on {
    position: absolute;
    top: 20px;
    left: 125px;
    width: 30px;
    height: 18px;
    background: url(images/on.png);
    background-size: 100%;
}

.grps {
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    font-size: 17px;
    color: #DFBB9E;
}

.block_select {
    position: absolute;
    top: 0;
    left: 65px;
}

.label_select {
    position: relative;
    padding-top: 144px;
    float: left;
    top: -30px;
    margin-left: 30px;
    width: 190px;
    height: 209px;
    background: url(images/block.png);
    background-size: 100%;
    color: #FEE5B1;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
}

.subtype {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    left: 45px;
    width: 80px;
    height: 47px;
    text-align: center;
    color: #FFFFFF;
    background-color: initial;
    background: rgba(132, 37, 20, 0.36);
    font-size: 14px;
    border: 1px #CFA588 solid;
}

.down {
    position: absolute;
    bottom: 0;
    left: 125px;
    width: 30px;
    height: 18px;
    background: url(images/down.png);
    background-size: 100%;
}

.Tinews {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 900px;
    height: 480px;
    z-index: 3;
    line-height: 47px;
    color: #FFFFFF;
    background-color: initial;
    background: rgba(132, 37, 20, 0.36);
    border: 1px #CFA588 solid;
    box-shadow: 0 0 2px 1px black inset;
    background: url(images/wg-1048-sq.jpg);
}

.sum {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 240px;
    height: 48px;
    z-index: 3;
    line-height: 47px;
    color: #FFFFFF;
    background-color: initial;
    background: rgba(132, 37, 20, 0.36);
    border: 1px black solid;
}

.material {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 110px;
    height: 38px;
    z-index: 3;
    line-height: 40px;
    color: #FFFFFF;
    background-color: initial;
    background: rgba(132, 37, 20, 0.36);
    border: 1px black solid;
    text-align: center;
    font-size: 15px;
}

.video {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 110px;
    height: 38px;
    z-index: 3;
    line-height: 40px;
    color: #FFFFFF;
    background-color: initial;
    background: rgba(132, 37, 20, 0.36);
    border: 1px black solid;
    text-align: center;
    font-size: 15px;
}

.Caption {
    position: absolute;
    top: 75px;
    right: 15px;
    width: 250px;
    height: 245px;
    z-index: 3;
    color: #FFFFFF;
    background-color: initial;
    background: #2b1302;
    border: 1px black solid;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
}

.Pic {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPic {
    position: absolute;
    top: 55px;
    left: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.PicII {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPicII {
    position: absolute;
    top: 55px;
    left: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.Pix {
    position: absolute;
    top: 140px;
    left: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPix {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.PixII {
    position: absolute;
    top: 140px;
    right: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPixII {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.CaptionII {
    position: absolute;
    top: 340px;
    right: 15px;
    width: 250px;
    height: 120px;
    z-index: 3;
    color: #FFFFFF;
    background-color: initial;
    background: #2b1302;
    border: 1px black solid;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
}

.Picture {
    position: absolute;
    top: 32px;
    left: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPicture {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.PictureII {
    position: absolute;
    top: 32px;
    right: 15px;
    width: 100px;
    height: 70px;
    background: url(images/Image.jpeg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.TextPictureII {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.CaptionNews {
    z-index: 3;
    color: #FFFFFF;
    background-color: initial;
    background: url(images/BG01.jpg);
    border: 1px black solid;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    margin: 20px;
    height: 440px;
}

.PictureNews {
    position: absolute;
    top: 34px;
    left: 30px;
    width: 530px;
    height: 235px;
    background: url(images/42585048.jpg);
    background-size: 100%;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.other {
    position: absolute;
    top: 315px;
    width: 590px;
    height: 125px;
    z-index: 3;
    color: #FFFFFF;
    background-color: initial;
    background: #2b1302;
    border: 1px black solid;
    font-size: 14px;
    border-radius: 20px;
}

.Pic_other {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 128px;
    height: 177px;
    z-index: 4;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

.buttonleft_small {
    position: absolute;
    top: 375px;
    left: 250px;
    width: 40px;
    height: 40px;
    background: url(images/BTleft.png);
    background-size: 100%;
}

.buttonright_small {
    position: absolute;
    top: 390px;
    right: 25px;
    width: 40px;
    height: 40px;
    background: url(images/BTright.png);
    background-size: 100%;
}

.content-thumb {
    border-radius: 7px;
    width: 136px;
    height: 136px;
    background-size: cover;
}

.filter-btn {
    background: url(images/wg-1048-sq.jpg);
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;

    box-shadow: 0 0 3px 0px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 0.44);
}

.filter-btn.active {
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.59) inset;
    color: white;
}