#main {
    background: url(images/bgnews.jpg);
    background-size: 100%;
}

.all {
    position: absolute;
    top: 38px;
    left: 65px;
    width: 165px;
    height: 52px;
    background: url(images/sumnews.png);
    background-size: 100%;
}

.allNews {
    position: absolute;
    width: 165px;
    height: 52px;
}

.back {
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 18px;
}

.brief {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 1000px;
    height: 575px;
    background: url(images/brief.png);
    background-size: 100%;
    z-index: 4;
}

.text_caption {
    text-align: center;
    font-size: 42px;
    margin-top: 51px;
}

.number {
    font-size: 30px;
    margin-top: 20px;
}

.monthly {
    position: absolute;
    left: 5px;
    top: 123px;
    width: 920px;
    height: 30px;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    background: rgb(216, 216, 216);
}

.news-subtype {
    position: absolute;
    top: 155px;
    left: 5px;
    width: 920px;
    height: 220px;
}

.news-item {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 300px;
    height: 100px;
    background: rgba(216, 216, 216, 0.35);
}

.img {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;
    height: 90px;
    background: url(images/pictureNews.jpg);
    background-size: 100%;
}

.news-text {
    position: absolute;
    margin-top: 10px;
    margin-left: 135px;
    width: 140px;
    height: 90px;
    font-size: 12px;
}

.monthly-n {
    position: absolute;
    left: 5px;
    top: 370px;
    width: 920px;
    height: 30px;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    background: rgb(216, 216, 216);
}

.read-more {
    position: absolute;
    top: 418px;
    left: 170px;
    width: 50px;
    height: 20px;
    border: 1px #000000 solid;
    background: white;
    font-size: 14px;
    text-align: center;
    z-index: 1;
}

.news-subtype-n {
    position: absolute;
    top: 405px;
    left: 5px;
    width: 920px;
    height: 220px;
}

.news-item-n {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 300px;
    height: 100px;
    background: rgba(216, 216, 216, 0.35);
}

.newsday {
    position: absolute;
    top: 0;
    left: 400px;
    width: 300px;
    height: 100px;
    background: url(images/news.png);
    background-size: 100%;
}

.blocksum {
    position: absolute;
    top: 115px;
    left: 200px;
    width: 700px;
    height: 500px;

}

.blockyear {
    position: absolute;
    top: 110px;
    left: 60px;
    width: 150px;
    height: 60px;

}

.Bn_left {
    position: absolute;
    top: 18px;
    left: -5px;
    width: 50px;
    height: 25px;
    background: url(images/leftbutton.png);
    background-size: 100%;
}

.txt_years {
    position: absolute;
    top: 15px;
    left: 38px;
    font-size: 38px;
    color: #FFFFFF;
}

.Bn_right {
    position: absolute;
    top: 19px;
    right: -20px;
    width: 50px;
    height: 25px;
    background: url(images/rightbutton.png);
    background-size: 100%;
}

.blockpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 450px;
}

.newsLeft {
    position: absolute;
    top: 70px;
    width: 215px;
    height: 335px;
    opacity: 0.7;
    z-index: 1;
    border-radius: 40px;
}

.newsRight {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 215px;
    height: 335px;
    opacity: 0.7;
    z-index: 1;
    border-radius: 40px;
}

.newsMid {
    position: absolute;
    top: 10px;
    left: 150px;
    width: 390px;
    height: 450px;
    z-index: 3;
    border-radius: 50px;
}

.prev {
    position: absolute;
    top: 425px;
    left: 20px;
    width: 120px;
    height: 35px;
    background: #ffffff;
    text-align: center;
    font-size: 48px;
    opacity: 0.8;
}

.next {
    position: absolute;
    top: 425px;
    right: 30px;
    width: 120px;
    height: 35px;
    background: #ffffff;
    text-align: center;
    font-size: 48px;
    opacity: 0.8;
}

.blockDM {
    position: absolute;
    top: 475px;
    width: 700px;
    height: 100px;
}

.bt_left {
    margin-top: 15px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #f5f5f5;
    float: left;
    text-align: center;
}

.date {
    position: absolute;
    top: 0;
    width: 700px;
    height: 50px;
}

.dates {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    width: 50px;
    height: 20px;
    font-size: 14px;
    background: #f5f5f5;
    text-align: center;
    line-height: 2;
}

.bt_right {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #f5f5f5;
    text-align: center;
}

.month {
    position: absolute;
    top: 50px;
    width: 700px;
    height: 50px;
}

.months {
    float: left;
    margin-top: 0;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    text-align: center;;
    color: #FFFFFF;
    font-size: 26px;
    border: 1px #FFF solid;
    line-height: 2;
}

.backhome {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: url(images/backhome.png);
    background-size: 100%;
}

/***************************/

.news {
    border-radius: 40px;
    overflow: hidden;
}

.news-cover {
    height: 300px;
    background-size: cover;
}

.news-body {
    position: absolute;
    height: 220px;
    border-radius: 22px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    padding: 20px;

    text-align: center;

    box-sizing: border-box;
    width: 100%;

    background: rgba(255, 255, 255, 0.65);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.65)), color-stop(25%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}