#main {
    background: url(images/bggroup.png);
    background-size: 100%;
}

.icon {
    position: absolute;
    top: 80px;
    left: 190px;
    width: 700px;
    height: 600px;
}

.icon2 {
    position: absolute;
    top: 80px;
    left: 190px;
    width: 700px;
    height: 600px;
}

.icon1 {
    top: 20px;
    width: 95px;
    height: 55px;
    float: left;
    margin: 40px;
    text-align: center;
    color: #CFA588;
    font-size: 14px;
}

.icon1 img {
    width: 90px;
    height: 90px;
}

.all {
    position: absolute;
    top: 0;
    left: 400px;
    width: 290px;
    height: 96px;
    background: url(images/18.png);
    background-size: 100%;
}

.backHm {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: url(images/backhome.png);
    background-size: 100%;
}

.bottom {
    position: absolute;
    top: 270px;
    right: -40px;
    width: 50px;
    height: 50px;
    background: url(images/BTright.png);
    background-size: 100%;
}

.bottomClick {
    position: absolute;
    width: 60px;
    height: 60px;
}
.bottomBack{
    position: absolute;
    top: 270px;
    left: -40px;
    width: 50px;
    height: 50px;
    background: url(images/BTleft.png);
    background-size: 100%;
}
.bottomBack2{
    position: absolute;
    width: 60px;
    height: 60px;
}