#main {
    background: url(images/bggroup.jpg);
    background-size: 100%;
}

.icon {
    position: absolute;
    top: 80px;
    left: 190px;
    width: 700px;
    height: 600px;
}

.icon2 {
    position: absolute;
    top: 80px;
    left: 190px;
    width: 700px;
    height: 600px;
}

.icon1 {
    top: 20px;
    width: 99px;
    height: 55px;
    float: left;
    margin: 38px;
    text-align: center;
    color: #FDE5AB;
    font-size: 16px;
    cursor: pointer;
}

.icon1 img {
    width: 90px;
    height: 90px;
}

.all {
    position: absolute;
    top: 0;
    left: 400px;
    width: 290px;
    height: 96px;
    background: url(images/all.png);
    background-size: 100%;
}

.backHm {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: url(images/backhome.png);
    background-size: 100%;
}

.bottom {
    position: absolute;
    top: 270px;
    right: -50px;
    width: 60px;
    height: 61px;
    background: url(images/next.png);
    background-size: 100%;
}

.bottomClick {
    position: absolute;
    width: 60px;
    height: 60px;
}
.bottomBack{
    position: absolute;
    top: 270px;
    left: -40px;
    width: 55px;
    height: 60px;
    background: url(images/prev.png);
    background-size: 100%;
}
.bottomBack2{
    position: absolute;
    width: 60px;
    height: 60px;
}